<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>gnu.screen</string>
	<key>ServiceDescription</key>
	<string>GNU Screen</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/screen</string>
		<string>-D</string>
		<string>-m</string>
		<string>-ln</string>
		<string>-fn</string>
		<string>-S</string>
		<string>gnu.screen</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>SCREENRC</key>
		<string>/Users/pellican/Library/Preferences/screen/screenrc</string>
		<key>TERMINFO</key>
		<string>/usr/local/opt/ncurses/share/terminfo</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
